<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/project/list.css}">
    <script th:src="@{/js/project/list.js}"></script>
</head>
<body>
<div class="container">
    <h1>Project List</h1>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">

                <div>
                    <a th:href="@{/projects/create}" class="btn btn-info add-new">Create New Project</a>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>PM</th>
                <th>QA</th>
                <th>Project Name</th>
                <th>Project Code</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="project-table">
            </tbody>
        </table>
    </div>
</div>
</body>

</html>